@media (max-width: 1100px) {
    .heading{
        margin: 80px;
    }
    .servicename{
        width: 100%;
        padding: 0 20px;
    }
    .aboutwork{
        width: 100%;
        padding: 0 20px;
    }
    .contactinfo{
        width: 100%;
        padding: 0 20px;
    }
    .aboutus{
        width: 100%;
        padding: 0 20px;
    }
    .contactus .contactheading h2{
        margin-top: 20px;
        padding-top: 30px;

    }
    .contactus{
        padding-bottom: 30px;
    }
    .servicename .servie{
        width: 40%;
        padding: 20px 0;
        text-align: center;
        box-sizing: border-box;
      
    }
}
@media (max-width: 855px){
    .banner h1{
        font-size: 42px;
    }
    .banner p{
        font-size: 16px;
        margin: 15px;
    }
}
@media (max-width: 800px){
    .header .logo{
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-bottom: 0;
    }
    .header .menu{
        width: 100%;
        text-align: center;
        margin-right: 0;
    }
    .header .menu ul li a{
        padding: 15px 15px;
    }
    .heading{
        margin: 50px;
    }
}
@media (max-width: 712px){
    .banner{
        padding: 120px 0;
    }
    .banner h1{
        font-size: 35px;
    }
    .banner p{
        font-size: 15px;
        margin: 12px;
    }
}
.menu span{
    display: none;
}
@media (max-width: 580px){
    .header .menu ul li a{
        padding: 12px 10px;
        font-size: 12px;
    }
    .banner{
        padding: 100px 0;
    }
    .banner h1{
        font-size: 30px;
    }
    .banner p{
        font-size: 13px;
        margin: 10px;
    }
    .menu ul{
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
    .menu span{
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        display: block;
        position: relative;
        top: -20px;
        right: 20px;
        text-align: right;
    }
    .servicename .servie{
        width: 85%;
        margin: 20px 0;
        text-align: center;
        box-sizing: border-box;
      
    }
    .aboutwork .img{
        width: 100%;
        text-align: center;
    }
    .aboutwork .aboutcontent{
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0px;
    }
}